anthropic
streamlit
python-dotenv
google-generativeai
pandas 
streamlit-option-menu 
streamlit-card
numpy
streamlit-lottie
transformers
tokenizers 
openai
openpyxl
streamlit-timeline
seaborn
matplotlib
streamlit_elements
streamlit_highcharts